#about {
  width: 100%;
  padding-top: 15px;
  @media #{$desktop} {
    padding: 100px;
    height: 100vh;
  }
}
#about .about-content-wrapper {
  padding-top: 15px;
  @media #{$desktop} {
    padding-top: 0;
  }
  > p {
    font-size: 1rem;
    font-family: "Lato", sans-serif;
    font-weight: 300;
    > span {
      color: $blue;
      font-weight: 400;
    }
    > a {
      color: grey;
      text-decoration: none;
      transition: 0.3s;
      &:hover {
        text-decoration: none;
        color: $blue;
      }
    }
  }
}
