@import "./core";
@import "./home";
@import "./about";
@import "./skills&tools";
@import "./contact";
@import "./footer";
@import "./projects";
.scroll-to-top-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: block;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: 1px solid $blue;
  transition: 0.3s;
  color: #fff;
  background: $blue;
  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    color: #fff;
  }
  > .MuiSvgIcon-root {
    width: 100%;
    height: 100%;
  }
}
#loading-container {
  width: 100%;
  height: 100vh;
  background: $blue;
  > div {
    position: fixed;
    top: 45%;
    right: 50%;
    > svg {
      color: #fff;
    }
  }
}
.login {
  width: 100%;
  height: 100vh;
  > svg {
    position: fixed;
    top: 45%;
    right: 50%;
    transform: scale(5);
    &:hover {
      cursor: pointer;
    }
  }
}
